<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="container">
		<h1>
			Statistics
		</h1>
		<table>
			<tr><th>Player</th></tr>
			<tr th:each="p: ${players}">
			<td th:text="${p.name}"></td>
		</tr>
		</table>
		<div class="back">
			<input type="button" class="btn btn-lg btn-danger" onclick="javascript:history.back()" value="Go back"/>
		</div>
	</div>
</body>
</html>